.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 28px 8%;

  background: var(--color-dark);
  border-top: 1px solid var(--color-dark-border);

  color: var(--color-dark-muted);
  font-size: 0.75rem;

  p {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    padding: 24px;
  }
}